# Bot token
/GGCSDB/.env

# Google Calendar token
/GGCSDB/TokenFile/credentials.json
/GGCSDB/TokenFile/secret.json

# ./*.swp
*swp

# Channel ID
/GGCSDB/ID.txt

# sh
build_run.sh

# gitignore
.gitignore

